run = "npm run serve"
entrypoint = "server.js"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "npm run serve"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80